/*  
--------------------------------------------------------------
*  Theme Name: Morrow - Responsive Bootstrap 4 Landing Template *
*  Author: VBThemes                                             *
*  Version: 1.0.0                                               *
*  Created:September 2018                                       *
*  File Description:Main css file of the template               *
--------------------------------------------------------------
*/


/***************
1.BASIC
2.HELPER
3.NAVBAR
4.HOME
5.FEATURES
6.SERVICES
7.COUNTER
8.EDU & EXP
9.PORTFOLIO
10.TESTIMONIAL
11.SUBSCRIBER
12.CTA
13.BLOG
14.Contact Us
15.EXTRA BLOG PAGE
16.RESPONSIVE
*****************/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Nunito+Sans:400,600,700');

/*=================
    01.BASIC
===================*/

body {
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h1.font-weight-bold,
h2.font-weight-bold,
h3.font-weight-bold,
h4.font-weight-bold,
h5.font-weight-bold,
h6.font-weight-bold {
    font-weight: 600 !important;
}

a,
a:hover,
a:focus,
button {
    text-decoration: none !important;
    outline: none !important;
}



.back_top_angle_up {
    text-align: center;
    position: fixed;
    bottom: 15px;
    height: 35px;
    width: 35px;    
    background-color: #DAAB29;
    display: none;
    z-index: 10000;
    border-radius: 3px;
    right: 35px;
    transition: all 0.5s;
}

.back_top_angle_up i {
    color: #fff;
    line-height: 35px;
    font-size: 28px;
    display: block;
}
  

/*==================
    02.HELPER
====================*/

.bg_overlay_cover_on {
    background-color:rgba(5, 5, 6, 0.84);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.text-success {
    color: #34ca71 !important;
}

.text_custom {
    color: #1ba974 !important;
}

.btn {
    padding: 15px 32px;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.5s;
    letter-spacing: 0.6px;
    box-shadow: none !important;
    text-transform: uppercase;
    outline: none !important;
}

.btn_round {
    border-radius: 30px;
}

.btn_custom {
    border: 1px solid #1ba974;
    color: #fff;
    background-color: #1ba974;
}

.btn_custom:hover,
.btn_custom:focus,
.btn_custom:active,
.btn_custom.active,
.btn_custom.focus,
.btn_custom:active,
.btn_custom:focus,
.btn_custom:hover,
.open > .dropdown-toggle.btn_custom {
    color: #f3f3f3;
    background-color: #1d9065;
    border-color: #1d9065;
}

.btn_outline_custom {
    border: 2px solid #f5f5f5;
    color: #ffffff;
}

.btn_outline_custom:hover,
.btn_outline_custom:focus,
.btn_outline_custom:active,
.btn_outline_custom.active,
.btn_outline_custom.focus,
.btn_outline_custom:active,
.btn_outline_custom:focus,
.btn_outline_custom:hover,
.open > .dropdown-toggle.btn_outline_custom {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.full_height_100vh {
    height: 100vh;
}

.vertical_content_manage {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
}

.section_all {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}

.section_title p {
    font-size: 62px;
    position: relative;
    color: rgba(160, 160, 160, 0.14);
}


.section_title h3{
    z-index: 100;
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    bottom: 0;
}

.section_subtitle {
    max-width: 300px !important;
}

/*======================
    03  NAVBAR
=======================*/

.custom-nav {
    padding: 15px 0px;
    width: 100%;
    border-radius: 0px;
    z-index: 999;
    margin-bottom: 0px;
    transition: all 0.5s ease-in-out;
}

.custom-nav .menu_number li {
    color: #fff;
    font-size: 16px;
}

.custom-nav.stickyadd .menu_number li {
    color: #000;
}

.custom-nav .navbar-nav li a {
    color: #fff;
    font-size: 15px;
    background-color: transparent !important;
    padding: 15px 0;
    margin: 0 7px;
    transition: all 0.4s;
}

.navbar-toggler {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #ffffff;
}

.navbar-brand img {
    height: 28px;
}

.stickyadd .navbar-nav {
    margin-top: 0px;
}

.stickyadd.custom-nav .navbar-nav li a {
    color: rgba(0, 0, 0, 0.75);
}

.custom-nav .navbar-brand.logo img {
    height: 28px;
}

.stickyadd.custom-nav {
    margin-top: 0px;
    padding: 8px 0px;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
}

.custom-nav .navbar-nav li.active a,
.custom-nav .navbar-nav li a:hover,
.custom-nav .navbar-nav li a:active {
    color: #1ba974 !important;
}

.navbar-toggle {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #ffffff;
}

.custom-nav .btn-custom {
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: transparent;
    border-color: #337ab7;
}

.logo .logo-light {
    display: inline-block;
}

.stickyadd .logo .logo-dark {
    display: inline-block;
}

.stickyadd .logo .logo-light {
    display: none;
}

.logo .logo-dark {
    display: none;
}

/*================
    04.HOME
==================*/

.bg_home_personal_img {
    background-image: url(../images/bg_home_personal.jpg);
    position: relative;
    background-size: cover;
    background-position: center center;
}

.home_title {
    font-size: 58px;
    text-transform: capitalize;  
}

.home_title span {
    color: #ffffff;
    font-size: 58px;
}

.home_top_header {
    background: #1ba974;
    padding: 6px 21px;
    border-radius: 35px;
}

.home_second_title {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.4;
    font-weight: normal;
    letter-spacing: 2px;
}

.home_text_personal {
    max-width: 600px;
}

.home_subtitle {
    color: #dadada;
    max-width: 600px;
    line-height: 1.8;
}

.home_small_title_border {
    height: 2px;
    width: 70px;
    background-color: #1ba974;
}

.home_table_cell_center {
    display: table-cell;
    vertical-align: middle;
}

.home_table_cell {
    display: table;
    width: 100%;
    height: 100%;
}

.full_height_100vh_home {
    height: 100vh;
}

/*------------------
    HOME DEMO -3
-------------------*/

.up-index {
    z-index: 2;
}

/*------------------
    HOME DEMO -4
-------------------*/

.clip-home{
    clip-path: polygon(0 0, 100% 0, 100% 83%, 50% 100%, 0 83%);
}

/*--------------------
    HOME DEMO - 8
--------------------*/

.creative:after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100px;
    background: transparent;
    background-size: 100% 100%;
    background-image: url(../images/bottom-color.png);
}

/*====================
   05. About ME
====================*/

.about_social_icons ul li a {
    font-size: 20px;
    color: #5b6269;
    padding-right: 15px;
}


/*====================
   0.6  SERVICES
======================*/

.services_box {
    border-radius: 8px;
}

.services_box .service_icon i {
    font-size: 32px;
    height: 65px;
    color: #1ba974;
    width: 65px;
    display: inline-block;
    text-align: center;
    line-height: 65px;
    border-radius: 50px;
    border: 2px solid #1ba974;
}

.services_box a {
     color: #000;
     outline: none !important;
     transition: all 0.5s;
}

.services_box a:hover {
     color: #1ba974;
}

/*====================
    0.7 COUNTER
======================*/

.bg_counter_cover{
    background-image: url(../images/cta_bg_cover.jpg);
    position: relative;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.counter_box .info_name{
    font-size: 16px;
    color: #ededed;
}

.counter_box .counter_icon {
    font-size: 38px;
}

/*================
   0.8 EDU & EXP
==================*/

.edu_content{
    border-radius: 7px;
    border: 1px solid #e7e7e7;
    padding: 50px;  
}

.edu_detail h5{
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    text-transform: capitalize;
}

.edu_gradiant_1{
    background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
}

.edu_gradiant_2{
   background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);
}

.edu_gradiant_3{
    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);  
}

.edu_gradiant_4{
    background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
}

/*====================
  0.9  PORTFOLIO
======================*/

.work_menu li a {
    padding: 8px 16px;
    letter-spacing: 0.03em;
    cursor: pointer;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 14px;
    transition: all 0.5s;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5) !important;
    margin-top: 5px;
}

.work_menu li {
    margin-right: 0px !important;
}

.work_menu li:after {
    content: "/";
    color: #1ba974;
    margin: 0px 16px;
    position: relative;
    display: inline-block;
    top: 1px;
}

.work_menu li:last-child:after {
    content: "";
    display: none;
}

.work_menu a.active,
.work_menu a:hover {
    font-weight: 700;
    color: #fff !important;
    background-color:#1ba974;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
}

.work_box .work_detail h4 {
    font-size: 18px;
    color: #000;
}

.work_box .work_detail p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}

.work_item {
    padding: 15px;
    position: relative;
}

.work_item .work_box {
    margin: 0;
    position: relative;
    overflow: hidden;
}

.work_item .work_box .work_img {
    transition: all 0.3s ease 0s;
}

.work_item .work_box img {
    top: 0;
    position: relative;
}

.work_item .work_box img {
    cursor: pointer;
    display: block;
    opacity: 1;
    width: 100%;
    transition: all 0.3s ease 0s;
}

.work_item .work_box:hover img {
    cursor: pointer;
    opacity: 1;
    transform: scale(1, 1);
    top: -88px;
}

.work_item .work_detail {
    height: auto;
    position: absolute;
    background-color: #fbfbfb;
    opacity: 0;
    bottom: -101px;
    width: 100%;
    padding: 20px 0px;
}

.work_box:hover .work_detail {
    bottom: 0;
}

.work_box:hover .work_detail {
    opacity: 1;
    transition: all 0.3s ease 0s;
}

/*====================
  10. TESTIMONIAL
=====================*/

.bg-client{
  background-attachment: fixed;
  background-image: url('../images/bg_testi_img.jpg');
  background-position: center center;
  background-size: cover;
}

.testi_all_box  {
    max-width: 700px;
}

.testi_all_box img {
    max-width: 90px;
}

.client-post .testi-user-work{
  font-size: 14px;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 7px;
    margin: 20px 5px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    opacity: 0.4;
}

/*--------------------
    GREATE PEOPLE
---------------------*/

.logo_img img {
    max-height: 100px;
    width: auto !important;
    opacity: 0.6;
}


/*======================
    11.SUBSCRIBER
========================*/

.subcribe-newslatter input {
    padding: 15px 20px;
    width: 100%;
    font-size: 17px;
    color: #4c5667 !important;
    border: none;
    outline: none !important;
    padding-right: 150px;
    padding-left: 30px;
    border-radius: 30px;
    background-color: #f1f1f1;
}

.subcribe-newslatter button {
    position: absolute;
    top: 4px;
    right: 5px;
    outline: none !important;
    border-radius: 30px;
    font-size: 17px;
    padding: 9px 30px;
}

.subcribe-newslatter form {
    max-width: 550px;
}

/*====================
   12. CTA
====================*/

.bg_cta_image{    
    background-image: url(../images/bg-cat-images.png);
    position: relative;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

/*=====================
  13. BLOG
=====================*/

.blog_video .blog_play {
    position: absolute;
    top: 52%;
    left: 52%;
    margin-left: -40px;
    margin-top: -40px;
}

.blog_play {
    outline: none !important;
    width: 65px;
    height: 65px;
    padding-left: 2px;
    border-radius: 50%;
    z-index: 4;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    color: #000 !important;
    font-size: 35px;
    line-height: 65px;
    background-color: #fff;
}

.label_blog_badge {
    display: inline-block;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    height: 24px;
    padding: 0 10px;
    text-align: center;
    border-radius: 30px;
    background: #1ba974;
}


/*======================
  14. Contact Us
========================*/

.contact_social_icons ul li a {
    font-size: 24px;
    color: #b1b1b1;
    padding-right: 46px;
}

.contact_social_icons ul li a:hover{
    color: #1ba974;
}

.contact_form_custom .form-control {
    height: 50px;
    font-size: 16px;
    border-color: #eae7e7;
}

.contact_form_custom .form-control:focus {
    border-color: #1ba974 !important;
    box-shadow: none;
    outline: 0;
}

textarea.form-control {
    height: auto !important;
}

.error {
    margin: 8px 0px;
    display: none;
    color: red;
}

.error_msg {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    color: red;
    font-weight: 700;
}

.gig_loader {
    display: none;
}

#success_msg {
    text-align: center;
    margin-bottom: 20px;
}

#success_msg h3 {
    color: #0dba26;
    font-size: 22px;
}


/*=====================
    15.EXTRA BLOG PAGE
======================*/

.section_article_padding {
    padding: 60px 0px 0px 0px;
}

.bg_blog_img {
    background-image: url(../images/blog/bg_blog.jpg);
    background-position: center center;
    background-size: cover;
}

.half_height_home {
    position: relative;
    padding: 200px 0 150px;
}

.home_header_wrapper a {
    background-color: transparent;
    margin-bottom: 0;
    font-size: 15px;
}

.home_header_wrapper>li+li:before {
    color: #fff;
    content: "/\00a0";
    margin-right: 5px;
}

.blog_detail_badge span {
    padding: 9px 22px;
    display: inline-block;
    font-size: 14px;
    background: #1ba974;
    color: #fff;
    border-radius: 30px;
    letter-spacing: 2px;
}

.blog_post_date_time {
    display: inline-block;
    margin-right: 26px;
}

.blog_post_date_time ul li a {
    color: #000;
    font-size: 14px;
    transition: all 0.3s;
}

.blog_post_header blockquote p {
    padding: 30px 30px;
    border-left: 5px solid #1ba974;
}

.tag_boxes a {
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 5px 10px 5px 0;
    padding: 12px 22px;
    text-transform: uppercase;
    transition: all 0.3s;
}

.reading_header a {
    color: #000;
    font-size: 18px;
    letter-spacing: 1px;
}

.post_follow_social ul li a {
    display: inline-block;
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    border: 2px solid #4a4a4a;
    border-radius: 50%;
    color: #000;
    transition: all 0.3s;
}

.post_follow_social ul li a:hover {
    background-color: #4a4a4a;
    transition: all 0.3s;
    color: #fff;
}

.blog_side_content .blog_side {
    margin: 0 0 40px;
    padding: 30px 20px;
    background-color: #F3F3F3;
}

.side_header h6 {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 15px;
}

.category ul li {
    margin-bottom: 15px;
}

.category ul li a,
span {
    color: #000;
    font-size: 14px;
}

.news-letter form {
    max-width: 400px;
}

.news-letter input {
    padding: 12px 20px;
    width: 100%;
    font-size: 16px;
    color: #000 !important;
    border: none;
    outline: none !important;
    padding-right: 150px;
    padding-left: 30px;
}

.new_post .recent_post_img {
    float: left;
    width: 80px;
}

.new_post .recent_post_info {
    padding-top: 2px;
    margin-left: 92px;
}

.new_post .recent_post_info a {
    color: #666;
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.4;
}

.new_post .post_set_date {
    margin-bottom: 20px;
    font-size: 12px;
}

.side_tag_boxes a {
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 4px 8px 6px 0;
    padding: 7px 14px;
    text-transform: capitalize;
    transition: all 0.3s;
}

.side_tag_boxes a, .tag_boxes a {
    background-color:#1ba974;
}
/*=====================
    16. RESPONSIVE
=======================*/

@media (max-width: 768px) {
    .custom-nav {
        margin-top: 0px;
        padding: 10px 0px !important;
        background-color: #fff !important;
    }
    .vertical_content_manage {
        display: inherit;
    }
    .home_title {
        font-size: 32px;
    }
    .custom-nav .navbar-nav li a {
        margin: 0 0px;
        padding: 6px 0;
        color: rgba(0, 0, 0, 0.55) !important;
    }
    .custom-nav .navbar-nav li.active a {
        color: #1ba974 !important;
    }
    .custom-nav>.container {
        width: 90%;
    }
    
    .custom-nav .logo .logo-dark {
        display: inline-block;
    }
    .custom-nav .logo .logo-light {
        display: none;
    }
    .custom-nav .navbar-brand.logo img {
        height: 26px;
    }
    .navbar-nav {
        margin-top: 0px;
    }
    .navbar-toggler {
        font-size: 28px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #000;
    }
    .home-bg,
    .h-100vh.jarallax,
    .h-100vh.bg-dark,
    .full_height_100vh_home {
        padding: 110px 0;
    }
    .h-100vh,
    .full_height_100vh_home {
        height: auto;
    }
  
    .cta_heading h2 {
        font-size: 26px
    }
   .contact_social_icons ul li a {
       padding-right: 10px;
    }
    .section_title h3 {
        z-index: 100;
        position: absolute;
        top: 7px;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .section_title p {
        font-size: 36px;
        position: relative;
    }
}